# Files never to add
*/*/database*.yaml
*/*/holiday_data.json
*/*/organisation.yaml
*/*/teams.yaml
*/*/config.yaml
*/*/img/*.jpg
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Files never to commit
server/data/
server/teamdb_config.yaml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.zip
python/output/*
