# Only include the .keep file in img directory
addon/config/img/*
!addon/config/img/.keep

addon/config/*.yaml*
addon/config/*.json*
!addon/config/config.yaml.tmpl
!addon/config/database.yaml.tmpl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Files never to commit
server/data/
server/teamdb_config.yaml

# Environments
venv/
*.zip
tools/python/output/*
tools/python/config/config.yaml
tools/python/config/teams.yaml
