# systemd unit for teamdb.
# Update the filem then put it in `/etc/systemd/system/teamdb.service`
# Enable the service: `systemctl enable teamdb`
# Start the service:  `systemctl start teamdb`
[Unit]
Description=SuccessFactor backend service
After=network.target
 
[Service]
Type=simple
User=planner
WorkingDirectory=/<path-to>/successfactors-chrome-addon
ExecStart=/<path-to>/successfactors-chrome-addon/server/install/systemd_runner.sh
Restart=on-failure
 
[Install]
WantedBy=multi-user.target