version: "20251108"
database:
  people:
    - name: John Doe (ext)
      birthday: ""
      title: Consultant/Test
      external: true
      team_name: Team1
      virtual_team: []
      legal_manager: 
      functional_manager: 
      carry_over_holidays: 0
      site: LY
  teams:
    - name: Team1
      short_name: TM1
      product_owner: 
      functional_manager: 
      parent_team: 
  projects:
    - name: Project1
      project_lead: John Doe (ext)
