version: "20251108"
schema_version: "2.0"
database:
  last_team_timestamp: 1790754202865
  people:
    - name: John Doe (ext)
      birthday: ""
      title: Consultant/Test
      external: true
      manager: false
      team_name: Team1
      virtual_team: []
      legal_manager: 
      functional_manager: 
      carry_over_holidays: 0
      site: LY
  teams:
    - name: Team1
      id: TMUNSTE5T
      short_name: TM1
      product_owner: 
      functional_manager: 
      parent_team: 
  projects:
    - name: Project1
      project_lead: John Doe (ext)
