<div class="calendar-container">
    <div class="header">
        <h1>{{dateRangeTitle}}</h1>
    </div>
    <div class="calendar">
        <div class="row-titles">
            <input type="text" id="searchInput" placeholder="Search for names..">
            <div id="hidePastDates" class="toggle-button active" style="display: block; padding: 5px 15px; cursor: pointer; background-color: #007acc; color: white; border-radius: 3px; margin: 2px 0;">Hide past dates</div>
            <div class="collapsible toggle-button" style="display: block; padding: 5px 15px; cursor: pointer; background-color: #f0f0f0; color: #333; border-radius: 3px; margin: 2px 0;">All</div>
            <div class="collapsible toggle-button" style="display: block; padding: 5px 15px; cursor: pointer; background-color: #f0f0f0; color: #333; border-radius: 3px; margin: 2px 0;">Absent today</div>
            {{birthdayFilter}}
            {{teamFilters}}
        </div>
        <div class="calendar-view">
            <table>
                <thead>
                    <tr>
                        <th class="sticky sticky-both" rowspan="1">&nbsp;</th>
                        {{monthHeaders}}
                    </tr>
                    <tr>
                        <th class="sticky sticky-both" rowspan="1">&nbsp;</th>
                        {{weekHeaders}}
                    </tr>
                    <tr>
                        <th class="sticky sticky-both" rowspan="1">&nbsp;</th>
                        {{dateHeaders}}
                    </tr>
                </thead>
                <tbody>
                    {{personRows}}
                </tbody>
            </table>
        </div>
    </div>
</div>
